video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    background: url('../../bilder/Background.png');
    background-size: cover;
    background-position: center top;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat scroll;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    object-fit: contain;
}

/* .Logo {
    background-image: url("../../bilder/Homepage-Cover.jpg");
    width: 600px;
    opacity: 0.75;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */



.h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    color: #fff;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;


}

.p {

    font-size: 15px;
    color: #fff;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    

}
.a{
    position: relative;
    top:2em
}

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
   
}

.button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: lightgrey;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: black;
}

.button:hover:before {
    width: 100%;
}


@media screen and (max-width: 960px) {
    .h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        color: #fff;
        font-family: "Myriad Pro", Arial, sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
    }

    .p {

        font-size: 12px;
        color: #fff;
        font-family: "Myriad Pro", Arial, sans-serif;
        font-weight: normal;
        letter-spacing: 1px;
        margin-left: 2em;
    
    }

    .a{
        position: relative;
        top:2em
    }

    .button {
        display: inline-block;
        padding: 0.75rem 1.25rem;
        border-radius: 10rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.15rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        
    }
    
    .button:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        border-radius: 10rem;
        z-index: -2;
    }
    
    .button:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: lightgrey;
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
    }
    
    .button:hover {
        color: black;
    }
    
    .button:hover:before {
        width: 100%;
    }

}