/*container for page*/
.mverwalten-container {
    /* background: url('../../bilder/Background.png');
    background-size: cover;
    background-position: center top;
    */
    height: 100vh;
    width: 100%;
    background-color: #3a3a3a;
    background-repeat: no-repeat scroll;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    object-fit: contain;
}

.component-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15em;
    align-items: center;
    margin: auto;

}

.h1-mverwalten {
    color: #fffafa;
    font-size: 45px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
}

/*Pages-containers */
.mhinzu-container {

    width: 50vh;
    height: 70vh;

}

.msuchen-container {

    width: 90vh;
    height: 70vh;



}


/*Mhinzu page */

.mh-input-container {
    display: flex;
    flex-direction: column;


}

.mh-input {
    background-color: lightgrey;
    margin-top: 2em;
    width: 100%;
    height: 40px;
    margin-left: 1em;
    border-radius: 18px;
    text-align: center;


}

.mh-input::placeholder {

    color: #000;
    text-align: left;

}

.mh-label {
    color: #fff;
    margin-top: 2em;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
}

.mh-label-head {
    margin-left: 0.5;
    margin-right: 7em;
}



.toggler-wrapper.style-3 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-3 .toggler-knob {
    width: calc(25px + 6px);
    height: calc(25px + 6px);
    border-radius: 50%;
    left: -3px;
    top: -3px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
    box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
}


.toggler-wrapper {
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.toggler-wrapper input[type="checkbox"] {
    display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.mh-button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50px;
    width: 200px;
    margin: auto;
    margin-top: 2.5em;

}

.mh-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 10rem;
    z-index: -2;
}

.mh-button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: lightgrey;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.mh-button:hover {
    color: #000;
}

.mh-button:hover:before {
    width: 100%;
}

.mh-massage {
    text-align: center;
    color: #fff;
    margin-top: 3em;
    font-size: 25px;
}


/*msuchchen Page */

.ms-input {
    background-color: lightgrey;
    width: 60%;
    height: 40px;
    margin-left: 1em;
    border-radius: 18px;

    margin: auto;
    margin-top: 2em;


}

.ms-input::placeholder {

    color: #000;
    text-align: left;

}

.ms-input-container {
    display: flex;
    flex-direction: column;
}


.table-first {

    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20px;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    color: #fff;

}


.table-first thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table-first th,
.table-first td {
    padding: 12px 15px;
}

.table-first tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-first tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-first tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table-first tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.ms-button-container {
    display: flex;
    flex-direction: row;

}


/*Update section*/
.ms-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.ms-input-update {
    background-color: lightgrey;
    width: 40em;
    height: 40px;
    margin-left: 1em;
    border-radius: 18px;

    margin: auto;
    margin-top: 2em;


}

.ms-input-update::placeholder {

    color: #000;
    text-align: left;

}



@media screen and (max-width: 960px){


    .h1-mverwalten {
        color: #3a3a3a;
        font-size: 25px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 800;
        line-height: 72px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 3em;
    
    }
    
    .component-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150vh;
        width: 100%;
        background-color: #3a3a3a;
        
             
        
    }

    .mhinzu-container {
        width: 70%;
        height: 100%;
    }
    
    .msuchen-container {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        background-color: #3a3a3a;
    }
    
    .ms-input {
        background-color: lightgrey;
        width: 90%;
        height: 40px;
        margin-left: 1em;
        border-radius: 18px;
    
        margin: auto;
        margin-top: 2em;
    
    
    }
    
    .ms-input::placeholder {
    
        color: #000;
        text-align: left;
    
    }
    

    /* TABLE */
    .ms-input-container{
        width: 80%;
        align-items: center;
    }

    .table-first {
        border-collapse: collapse;
        table-layout: fixed;
        width: 50%;
        font-size: 10px;
    }
    
    
    
    .table-first th,
    .table-first td {
    padding: 0px 0px;
    }
    
    .ms-button-container {
        display: flex;
        flex-direction: column;
    
    }

    
   
    
}

