.page-container{
    background: url('../../bilder/Background.png');
    background-size: cover;
    background-position: center top;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat scroll;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.h1-u{
    color:#fffafa;
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    
}

.image{
    width: 60%;
    height: 20%;
    background: url('../../bilder/ueberuns-image1.png');
    background-color: cover;
    background-position: center center;
}


.element-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between; 
    margin: auto;
    
    
   

}

.element1{
    width: 30%;
    height: 200px;
    background: url('../../bilder/Ueberuns-elemente.png');
    background-color: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
    
}

.element2{
    width: 30%;
    height: 200px;
    background: url('../../bilder/Ueberuns-elemente.png');
    background-color: cover;
    background-position: center center;;
    background-repeat: no-repeat;
    margin: auto;
    
}

.element3{
    width: 30%;
    height: 200px;
    background: url('../../bilder/Ueberuns-elemente.png');
    background-color: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
   
    
}

@media screen and (max-width: 960px) {

    
    .h1-u{
        color:#fffafa;
        text-transform: uppercase;
        text-align: center;
        font-size: 50px;
        margin: auto;
        
    }

.element-container{
    display: flex;
    flex-direction:column;
    width: 100%;
    justify-content: space-between; 
    margin: auto;
    
    
   

}

.element1{
    width: 70%;
    height: 200px;
    background: url('../../bilder/Ueberuns-elemente.png');
    background-color: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
    
}

.element2{
    width: 70%;
    height: 200px;
    background: url('../../bilder/Ueberuns-elemente.png');
    background-color: cover;
    background-position: center center;;
    background-repeat: no-repeat;
    margin: auto;
    
}

.element3{
    width: 70%;
    height: 200px;
    background: url('../../bilder/Ueberuns-elemente.png');
    background-color: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
   
    
}

.image{
    width: 80%;
    height: 200px;
    background: url('../../bilder/ueberuns-image1.png');
    background-color: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


}
