.verwalten-container {
 
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    object-fit: contain;  
    height: 100vh;
    width: 100%;
  
}

.icon-container1{
    background-color: #3a3a3a;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    object-fit: contain;  


}

.h1-verwalten{
    color: #fffafa;
    font-size: 45px;
    margin: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 800; 
    line-height: 72px; 
    text-align: center; 
    text-transform: uppercase;
}

.icon-container2{
    background-color: #c8d20a;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    object-fit: contain;  
}



.icon{
    color: #fffafa;
    width: 400px;
    height: 400px;
    margin-bottom: 2em;
}

.button-verwalten {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
   
}

.button-verwalten:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 10rem;
    z-index: -2;
}

.button-verwalten:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: lightgrey;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button-verwalten:hover {
    color: #000;
}

.button-verwalten:hover:before {
    width: 100%;
}


@media screen and (max-width: 960px) {
 
    .icon{
        color: #fffafa;
        width: 100px;
        height: 100px;
       
    }

    .h1-verwalten{
        color: #fffafa;
        font-size: 20px;
        margin: 5px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 800; 
        line-height: 72px; 
        text-align: center; 
        text-transform: uppercase;
    }

    .button-verwalten {
        display: inline-block;
        padding: 0.70rem 1.25rem;
        border-radius: 10rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.15rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: auto;
        
        
       
    }


    
    .button-verwalten:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        border-radius: 10rem;
        z-index: -2;
    }
    
    .button-verwalten:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: lightgray;
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
    }
    
    .button-verwalten:hover {
        color: #000;
    }
    
    .button-verwalten:hover:before {
        width: 100%;
    }

    .verwalten-container {
 
        display: flex;
        justify-content: center;
        flex-direction:column;
        align-items: center;
        object-fit: contain;  
        height: 100%;
        width: 100%;
      
    }

    .icon-container1{
        background-color: #3a3a3a;
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction:column;
        align-items: center;
        object-fit: contain;  
    
    
    }
    
    .icon-container2{
        background-color: #c8d20a;
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction:column;
        align-items: center;
        object-fit: contain;  
    }
    
}